#head {
    position: absolute;
    top: 0px;
    width: 98%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    color:brown;
}

#fixed-element {
    position: fixed;
    top: 100px;
    right: 50px;
    background-color: blanchedalmond;
    min-width: 500px;
}

#element {
    position: relative;
    background-color: darkseagreen;
    width: 50%;
    height: 300px;
}

.block-float {
    margin: 5px;
    position: relative;
    background-color:coral;
    min-height: 40px;
    width: 48%;
    float: left;
    border: 3px dashed greenyellow;
    text-align: center;
}


tbody tr:nth-child(odd) {
    background-color: #FFFFF0;
}
tbody tr:nth-child(even) {
    background-color: #FFF8DC;
} 
thead tr {
    color: white;
}
table {
    background-color: #A52A2A;
    border-collapse: collapse;
    text-align: center;
    width: 500px;
    height: 170px;
    font-size: 24px;
    border: 2px solid #A52A2A;

}

.table {
    position: relative;
    top: 20px;
    width: 600px;
    margin: 0px auto;

}

#foot {
    position: relative;
    bottom: 0px;
    width: 98%;
    height: 200px;
    background-color: aqua;
    text-align: center;
    color: brown;
    margin-top: 200px;

    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 620;
    color: black;
    text-indent: 60px;
    text-shadow: 5px 2px 4px grey;

}
